.nav-top {
    background-color: rgb(245,222,179) !important;
}

.nav-link {
    color: white !important;
}

footer {
    background-color: rgb(245,222,179) !important;
    text-align: center !important;
    color: white;

}

.img-car {
    max-height: 400px !important;
}

.divisao {
    background-color: rgb(245,222,179) !important;
    text-align: center !important;
    padding: 2em !important;
    color: white;
}

.carousel-caption {
    background-color: rgba(172, 155, 123, 0.63) !important;
    border-radius: 20px !important;
    
}
.sec-pacotes{
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 1% !important;
}
.card{
    padding:1% !important;
    margin: 0% 1% 1% 0% !important;
}
.card p{
    text-align: justify !important;
}
.card h4{
    color: darkorange !important;
}
.sec-contatos{
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 5% !important;
}
.links{
    text-align: center;
    padding: 1em;
    color: rgb(0, 0, 0);

}
.mapa{
    margin-top: 5% !important;
}